<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        *, *::before, *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
    <link rel="stylesheet" href='@Url.Content("~/dojo-1.15.0/dijit/themes/claro/claro.css")' media="screen">
    @RenderSection("styles", false)
    <script>
        dojoConfig = {
            parseOnLoad: true
        };
    </script>
    <script src='@Url.Content("~/dojo-1.15.0/dojo/dojo.js")'></script>
</head>
<body class="tundra">
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
