<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    @await Html.PartialAsync("_StyleSettup")
    @await Html.PartialAsync("_DojoSettup")
    <link rel="stylesheet" href='@Url.Content("~/styles/animate.css")' media="screen">
    <link rel="stylesheet" href='@Url.Content("~/scripts/styles/singleUploader.css")'>
    <style>
        div.page {
            width: 100%;
            height: 100%;
            padding: 1rem;
        }

        div.nav {
            display: flex;
            flex-flow: row;
            align-items: center;
            padding-bottom: .3rem;
        }

            div.nav:hover {
                cursor: pointer;
            }

            div.nav > img {
                width: 20px;
                height: 20px;
            }



            div.nav > span {
                font-size: .9rem;
                font-weight: 700;
                color: #1A73E8;
                padding-left: .2rem;
            }

        div .upload-box {
            width: 100%;
            padding: .8rem;
            border: 1px solid #D0D0D0;
            border-radius: 4px;
            margin-bottom: 1rem;
        }

        p.form-title {
            font-size: 1rem;
            font-weight: 500;
            padding-bottom: .2rem;
        }

            p.form-title::after {
                content: "："
            }

        p.form-tip {
            font-size: .9rem;
            font-weight: 500;
            padding-left: 2rem;
            color: orange;
        }

        div .form-item {
            display: inline-block;
            padding: .2rem .5rem .2rem 0;
        }

            div.form-item > label {
                display: inline-block;
                font-size: 1rem;
                width: 90px;
                text-align: right;
            }

            div.form-item.required > label {
                color: blue;
            }

            div.form-item > label::after {
                content: "："
            }

            div.form-item.required > label::after {
                content: "*："
            }

            div.form-item > span.fileDes {
                font-size: .8rem;
            }

        div.form-group {
            /*border: 1px dashed gray;
            margin-bottom: .5rem;*/
        }

        div.metadata-des {
            width: 100%;
            padding: .8rem;
            border: 1px solid #D0D0D0;
            border-radius: 4px;
        }

            div.metadata-des > .title {
                padding: .5rem;
            }

            div.metadata-des > .des {
                text-indent: 1rem;
            }

            div.metadata-des > .warn {
                color: red;
            }

        div.loadingLayer {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(229,229,229,0.8);
            color: #1A73E8;
            font: 1.2rem;
            font-weight: 800;
        }

        .hidden {
            display: none !important;
        }
    </style>
    @RenderSection("styles", false)
    <script>
        require(["dojo/ready", "dojo/topic", "dojo/dom", "dojo/string", "dojo/dom-attr", "dojo/dom-class", "dijit/registry"], function (ready, topic, dom, string, domAttr, domClass, registry) {
            ready(function () {
                topic.subscribe("DownloadProcessExel", downloadProcessExel);
                topic.subscribe("DataProcessing", dataProcessing);
                topic.subscribe("DataProcessCompleted", dataProcessCompleted);
                topic.subscribe("ReportMessage", reportMessage);
                topic.subscribe("ReportErrorMessage", reportErrorMessage);
                topic.subscribe("TipOperateSuccessfully", tipOperateSuccessfully);
            });//ready

            function downloadProcessExel(path) {
                path = string.trim(path);
                var parr = path.split(".");
                var fileType = parr[parr.length - 1];
                var purl = "/Files/" + fileType + "/" + path;
                var downloadLinkNode = dom.byId("_hidenDownloadLink");
                domAttr.set(downloadLinkNode, "href", purl);
                downloadLinkNode.click();
            }//downloadProcessExel

            function dataProcessing() {
                var loadingLayerNode = dom.byId("loadingLayer");
                domClass.remove(loadingLayerNode, "hidden");
            }//dataProcessing

            function dataProcessCompleted() {
                var loadingLayerNode = dom.byId("loadingLayer");
                domClass.add(loadingLayerNode, "hidden");
            }//dataProcessCompleted

            function reportMessage(message) {
                var wdialog = registry.byId("rpMessageDialog");
                wdialog.set("content", message);
                wdialog.show();
            }//reportMessage

            function reportErrorMessage(message) {
                var wdialog = registry.byId("rpMessageDialog");
                wdialog.set("content", "数据处理中出现异常,请把表格转发给管理员检查错误信息!");
                wdialog.show();
            }//reportErrorMessage

            function tipOperateSuccessfully() {
                var wdialog = registry.byId("rpMessageDialog");
                wdialog.set("content", "操作成功!");
                wdialog.show();
            }//tipOperateSuccessfully
        });//require
    </script>
</head>
<body class="claro">
    <div class="page">
        <div class="nav" id="nav">
            <img src="~/images/home.svg" alt="Home" />
            <span>主页</span>
        </div>
        <div class="upload-box">
            @RenderSection("uploadbox", false)
        </div>
        @RenderSection("custom", false)
        <div class="metadata-des">
            @RenderSection("description", false)
        </div>
        @RenderBody()
    </div>
    <div class="loadingLayer hidden" id="loadingLayer"><span class="animated infinite pulse">数据处理中,请耐心稍等...</span></div>
    <a href="#" class="hidden" id="_hidenDownloadLink" download></a>
    <div data-dojo-type="dijit/Dialog" id="rpMessageDialog" data-dojo-props="style:'width:300px',title:'温馨提示',duration:800"></div>
    @RenderSection("scripts", required: false)
</body>
</html>
