<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <style>
        html, body {
            width: 100%;
            height: 100%;
        }

        *, *::before, *::after {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
    <link rel="stylesheet" href='@Url.Content("~/styles/animate.css")' media="screen">
    <link rel="stylesheet" href='@Url.Content("~/dojo-1.15.0/dijit/themes/claro/claro.css")' media="screen">
    <style>
        div.page {
            width: 100%;
            height: 100%;
            padding: 1rem;
        }

        div.nav {
            display: flex;
            flex-flow: row;
            align-items: center;
            padding-bottom: .3rem;
        }

            div.nav:hover {
                cursor: pointer;
            }

            div.nav > img {
                width: 25px;
                height: 25px;
            }



            div.nav > span {
                font-size: .9rem;
                color: gray;
                padding-left: .2rem;
            }

        div .upload-box {
            width: 100%;
            padding: .8rem;
            border: 1px solid #D0D0D0;
            border-radius: 4px;
        }

        div.form-item {
            display: inline-block;
            padding: .2rem .5rem .2rem 0;
        }

            div.form-item > label {
                display: inline-block;
                font-size: 1rem;
                width: 90px;
            }

            div.form-item.required > label {
                color: blue;
            }

            div.form-item > label::after {
                content: "："
            }

            div.form-item.required > label::after {
                content: "*："
            }

            div.form-item > span.fileDes {
                font-size: .8rem;
            }

        div.metadata-des {
            width: 100%;
            padding: .8rem;
            border: 1px solid #D0D0D0;
            border-radius: 4px;
            margin-top: 1rem;
        }

            div.metadata-des > .title {
                padding: .5rem;
            }

            div.metadata-des > .des {
                text-indent: 1rem;
            }

        a #_hidenDownloadLink {
            display: none;
        }

        div.loadingLayer {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(229,229,229,0.5);
        }

            div.loadingLayer.hidden {
                display: none;
            }
    </style>
    @RenderSection("styles", false)
    <script>
        dojoConfig = {
            parseOnLoad: true,
            packages: [{ name: "mytool", location: "../../scripts" }]
        };
    </script>
    <script src='@Url.Content("~/dojo-1.15.0/dojo/dojo.js")'></script>
    <script>
        require(["dojo/dom", "dojo/on", "dojo/dom-attr", "dojo/dom-class", "dojo/string", "dojo/domReady!"], function (dom, on, domAttr, domClass, string) {
            var loadingLayerNode = dom.byId("loadingLayer");
            on(dom.byId("nav"), "click", function () { location.href = "/"; });

            window._downloadProcessExel = function (path) {
                var downloadLinkNode = dom.byId("_hidenDownloadLink");
                domAttr.set(downloadLinkNode, "href", string.trim(path));
                downloadLinkNode.click();
                _closeLoadingLayer();
            }//window._downloadProcessExel

            window._showLoadingLayer = function () {
                domClass.remove(loadingLayerNode, "hidden");
            }//window._showLoadingLayer

            window._closeLoadingLayer = function () {
                domClass.add(loadingLayerNode, "hidden");
            }//window._showLoadingLayer

            window._showErrorMessage = function (message) {
                _closeLoadingLayer();
                this.console.error(message);
                this.alert("数据处理中出现异常,请把表格转发发给管理员检查错误信息!");
            }//window._showErrorMessage
        });//require

    </script>
</head>
<body class="claro">
    <div class="page">
        <div class="nav" id="nav">
            <img src="~/images/home.svg" alt="Home" />
            <span>主页</span>
        </div>
        <div class="upload-box">
            @RenderSection("uploadbox", false)
        </div>
        <div class="metadata-des">
            @RenderSection("description", false)
        </div>
        @RenderBody()
    </div>
    <div class="loadingLayer hidden" id="loadingLayer"><span class="animated infinite jello">数据处理中,请耐心稍等...</span></div>
    <a href="#" id="_hidenDownloadLink" download=""></a>
    @RenderSection("scripts", required: false)
</body>
</html>
